@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import "var";
*,
body,
html {
  padding: 0px;
  box-sizing: border-box;
  max-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
body {
  background-color: rgb(243, 243, 243);
}
#header1 {
  width: 100%;
  height: 8vh;
  background: $colorOfHeader1;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
#header1left {
  position: relative;
  width: 50%;
  margin: 0;
  padding: 0;
  padding-left: $paddingMargin;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  img {
    position: inherit;
    width: 80px;
    height: 80%;
    box-shadow: 0 0 10px 0.2px $colorOfHeader1;
    border-radius: 2px;
    cursor: pointer;
  }
}
div#name {
  p {
    color: $white;
    font-weight: lighter;
    margin-left: 3px;
    cursor: none;
    transition: font-size 0.5s;
    &:hover {
      font-size: larger;
      font-weight: bolder;
    }
  }
}
#header1right {
  @extend #header1left;
  justify-content: flex-end;
  align-items: stretch;
  width: 50%;
  padding-right: 5px;
}
.btn {
  display: block;
  width: 50px;
  margin: 2px 0px;
  border-left: 2px solid $white;
  color: $white;
  @include flexBox;
  cursor: pointer;
  &:hover {
    background: hsl(205, 98%, 60%);
    transform: scale(1.1, 1.1);
    border-right: 2px solid $white;
  }
}
.btn:nth-child(4) {
  display: block;
  width: 150px;
  font-size: smaller;
  margin: 2px 0px;
  border-left: 2px solid $white;
  justify-content: flex-start;
  padding-left: 5px;
  &:hover {
    background: hsl(205, 98%, 60%);
    transform: scale(1, 1);
    border-right: none;
  }
}
#header2 {
  width: 100%;
  background: $colorOfHeader2;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
#header2left {
  width: 50%;
  @include flexBox;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  .header2leftItem {
    cursor: pointer;
    color: $white;
    font-size: smaller;
    padding: $paddingMargin;
    @include flexBox;
    &:hover {
      background: hsl(210, 98%, 55%);
    }
    span {
      font-size: smaller;
      font-weight: 100;
      margin: 0 $paddingMargin;
    }
  }
  #favorite {
    margin-right: $paddingMargin;
  }
}
#header2right {
  @extend #header2left;
  justify-content: flex-end;
  overflow: hidden;
  .header2rightItem {
    @extend .header2leftItem;
    &:hover {
      background: hsl(210, 98%, 55%);
    }
    span {
      font-size: smaller;
      margin: 0 $paddingMargin;
    }
    input {
      outline: none;
      height: 150%;
      border: none;
      margin: 0;
      padding: 0;
      background: transparent;
      color: $white;
      &::placeholder {
        color: rgb(211, 211, 211);
        font-weight: lighter;
      }
    }
  }
}
#search {
  i {
    color: rgb(211, 211, 211);
  }
}
#category {
  height: 10vh;
  position: relative;
  background: $white;
  padding-left: $paddingMargin;
  @include flexBox;
  justify-content: flex-start;
  span {
    font-weight: lighter;
    padding-left: $paddingMargin;
    font-weight: lighter;
  }
  i {
    font-size: x-large;
  }
}
#center {
  margin-top: $paddingMargin * 3;
  padding: $paddingMargin 0;
  margin: $paddingMargin * 2;
  #nameOF {
    font-size: smaller;
  }
  #folderContent {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .folderContentItem {
      box-shadow: 0 0 3px rgb(68, 68, 68);
      height: 50px;
      width: 170px;
      margin: $paddingMargin;
      background: $white;
      display: flex;
      align-items: center;
      padding-left: $paddingMargin;
      position: relative;
      &:hover {
        box-shadow: 0 0 5px rgb(68, 68, 68);
      }
      &::before {
        content: "";
        position: absolute;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background: blue;
        top: 5px;
        right: 5px;
        box-shadow: -5px 0px 0px green, -10px 0px 0px red;
      }
    }
  }
}
#bottom {
  margin-top: $paddingMargin * 3;
  padding: $paddingMargin 0;
  margin: $paddingMargin * 2;
  #nameOFbottom {
    font-size: smaller;
  }
  #folderContentbottom {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .folderContentItembottom {
      box-shadow: 0 0 3px rgb(68, 68, 68);
      height: 50px;
      width: 170px;
      margin: $paddingMargin;
      background: $white;
      display: flex;
      align-items: center;
      padding: $paddingMargin;
      position: relative;
      &:hover {
        box-shadow: 0 0 5px rgb(68, 68, 68);
      }
      &::before {
        content: "";
        position: absolute;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background: blue;
        top: 5px;
        right: 5px;
        box-shadow: -5px 0px 0px green, -10px 0px 0px red;
      }
      i {
        margin-right: $paddingMargin;
      }
    }
  }
}
#contentofscannertobeuse {
  display: none;
}
#pageOfscanner {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
  top: 0;
  left: 0;
}
#videoOfscanner {
  width: 500px;
  height: 300px;
  padding: 0;
  background: $white;
}
#textOfscanner {
  outline: none;
  width: 400px;
  height: 30px;
  text-align: center;
  color: blue;
  margin: 8px 0px;
  font-size: larger;
}
#buttonOfscanner {
  background: none;
}
.buttonOfscannerItem {
  padding: 3px 10px;
  border-radius: 8px;
  border: none;
  box-shadow: 0 0 5px grey;
  font-weight: lighter;
  font-size: larger;
}
.buttonOfscannerItem:hover {
  color: blue;
  background: aqua;
  cursor: pointer;
  box-shadow: 0 0 5px aqua;
}
#cencelbuttonOfscanner {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 50px;
  background: none;
  color: red;
}
#cencelbuttonOfscanner i {
  background: none;
}
::-webkit-scrollbar {
  width: 8px;
  background: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: teal;
}
